* , ::after , ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(43, 41, 41);
}

/* STOP INITIALIZING */

body{
    background: url(images/image-hero-mobile.jpg) top center / contain no-repeat rgba(230, 230, 230, 0.288);
    box-shadow: 0px 100px 50px -50px rgba(0, 0, 0, .5) inset ; 
    font-family: 'Commissioner', sans-serif;
}
.container{
    padding:0 5vw 20vw;
}
header{
    padding:7vw 5vw 0;
    margin-bottom: 200px;
    position: relative;

}
.menu{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.toggle{
    background: transparent;
    border: none;
    outline: transparent;
    z-index: 101;
}
.logo{
    z-index: 99;
}
.nav-menu{
    position: absolute;
    width: 90vw;
    transform: translateY(-150%);
    transition: .2s;
    z-index: 100;
    border-radius: 15px;

}
.open{
    transform: translateY(50px);
    box-shadow: -1px 1px 400px 200px rgba(0,0,0,0.51);
}
.nav-menu ul{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;

}
.nav-menu ul li{
    font-size:1.3rem ;
    font-weight: 500;
    padding: 6vw 5vw;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.nav-menu ul li:last-child{
    border : none
}

section{
    padding:50px 20px;
    background: white;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid rgba(173, 173, 173, 0.2);
}
h1{
    font-weight: 700;
    color: black;
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.sec1{
    position: relative;
    text-align: center;
    color: hsl(0, 0%, 48%);
    padding-top:60px;
    font-size: .9rem;
}
.sec1::before{
    content:"";
    position: absolute;
    width:65px;
    height:65px;
    background: url(images/logo-mastercraft.svg) center center /cover no-repeat;
    top:0; 
    left:50%; 
    transform:translate(-50%, -50%); 
    
}
.sec1 p {
    margin-bottom: 30px;
}
.sec1 nav {
    display: flex;
    justify-content: space-between;
}
.btn-back{
    padding: 0 40px;
    height: 56px;
    background-color: hsl(176, 50%, 47%);
    border-radius: 30px;
    border:none;
    color:white;
    font-weight: 700;
    font-size: 1rem;
    outline: transparent;
    cursor: pointer;
}
.btn-bookmark , .close-popup{
    background-color: transparent;
    border: none;
    outline: transparent;
    cursor: pointer;
}
.bookmark-text{
    display:none;
}
.sec2{
    font-size: .9rem;
    color: hsl(0, 0%, 50%);
    font-weight: 500;
}
.sec2 ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.sec2 li{
    position: relative;
    padding-bottom: 25px;
}
.sec2 li:first-child::after , .sec2 li:nth-child(2)::after{
    content:"";
    display:inline-block;
    position: absolute;
    width:25vw;
    height:1px;
    background-color:rgb(196, 196, 196,.7);
    bottom:0;
    left:50%;
    transform: translateX(-50%);
}
.sec2 li:last-child{
    
    padding-top:10px;
}
.sec2 strong{
    font-size:2rem;
    color: black;
    line-height: 3.5rem;
}

/*                PROGRESS BAR                */
.progress {
    background-color: hsl(0, 0%, 95%);
    width: 90%;
    border-radius: 15px;
    margin:0 auto;
    height:13px;
}

.progress-value {
    background-color: hsl(176, 50%, 47%);
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
    width:70%;
    height:13px;
}

/*               END PROGRESS BAR                */

.sec3 p{
    color: hsl(0, 0%, 70%);
    margin-bottom: 30px;
    line-height: 1.5em;
    font-size: .9rem;
}
h2{
  font-size: 1.3rem;  
  margin-bottom: 30px;
}
.card{
    padding: 20px 20px;
    border: solid 1px rgba(173, 173, 173, 0.3);
    border-radius: 10px;
    margin-bottom: 25px;
}
.card p{
    margin-top: 30px;
}
h3{
    font-size: 1rem;
    line-height: 2rem;
}
.pledge{
    color:hsl(176, 50%, 70%);
    font-weight: 500;
    font-size: .9rem;
}
.left{
    color: hsl(0, 0%, 70%);
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.left strong{
    font-size: 2rem;
    color:black;
    margin-right: 10px;
}
.btn-reward{
    margin: 20px 0 10px;
    padding: 15px 30px;
    background-color: hsl(176, 50%, 47%);
    border-radius: 30px;
    border:none;
    color:white;
    font-weight: 700;
    font-size: .9rem;
    outline: transparent;
    cursor: pointer;
}
.card3{
    opacity:.5;
}
.btn-outofstock{
    margin: 20px 0 10px;
    padding: 15px 30px;
    background-color: hsl(0, 0%, 70%);;
    border-radius: 30px;
    border:none;
    color:white;
    font-weight: 700;
    font-size: .9rem;
    outline: transparent;
}

.sec-popup{
    position: absolute;
    top:100px;
    width:90vw;
    left:auto;
    right: auto;
    z-index: 111;
    box-shadow: 0px 100px 400px 200px rgba(0,0,0,0.51);
    padding-top:30px;
    
}
.hide, .hide-full{
    display: none;
}
.sec-popup h2 {
    margin:0;
}
.back-flex-closing{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.sec-popup p{
    font-size: .9rem;
    color: hsl(0, 0%, 70%);
    margin-bottom: 25px;
}
.check, .check-none{
    margin:10px 20px 10px 0;
    grid-column:1 ;
    grid-row: span 2 ;
}
.check[type=checkbox]{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;

    border-radius: 20px;
    height: 25px;
    width: 25px;
    background: #fff;
    border: 1px solid #ccc;
    outline: transparent;
    
}
.check[type=checkbox]:checked{
background: hsl(176, 50%, 47%);
    
}
.flex-checkbox{
    display: flex;
}
.grid-checkbox{
    display: grid;
    
}
.sec-popup h3{
    grid-column:2 ;
    grid-row:1 ;
}
.sec-popup .pledge {
    grid-column: 2;
    grid-row: 2;
}
.selected{
border-top: solid 2px rgba(173, 173, 173, 0.2);
margin-left: -20px;
margin-right: -20px;
}
.selected p{
    text-align: center;
}
.flex-submit{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
}
.input-pledge{
    width:100px;
    height: 50px;
    text-align: center;
    font-weight: 700;
    border-radius: 30px;
    border:1px solid rgba(173, 173, 173, 0.2);
    outline: transparent;
    
}
.flex-submit::before{
    content:'$';
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    position: absolute;
    z-index: 150;
    font-weight: 700;
    color: rgba(173, 173, 173, 0.5);
}
.btn-submit{
    width:125px;
    height: 50px;
    border-radius: 30px;
    border:1px solid rgba(173, 173, 173, 0.2);
    cursor: pointer;
    background-color: hsl(176, 50%, 47%);
    color: white;
    font-weight: 700;
    outline: transparent;
}
.zone-click{
    cursor: pointer;
    outline: transparent;
}
.card-selected{
    border: solid 2px hsl(176, 50%, 47%);
}
.card-success{
    text-align: center;
    background-color: white;
    box-shadow: -1px 1px 400px 200px rgba(0,0,0,0.51);
    position: absolute;
    top: 150px;
    margin :0 auto;
    width : 90vw;
    top: 50%;
    left: 50%;
    transform:translate(-50% , -50%);
}
.card-success img{
    margin:10px auto 20px;
}
.card-success p{
    color: hsl(0, 0%, 48%);
    line-height: 1.7em;
    font-size: .9rem;
    margin-bottom: 20px;
}
.card-success .btn-success{
    margin: 15px 0 25px;
    padding: 15px 30px;
    background-color: hsl(176, 50%, 47%);
    border-radius: 30px;
    border:none;
    color:white;
    font-weight: 700;
    font-size: .9rem;
    outline: transparent;
    cursor: pointer;
}

@media only screen and (min-width : 750px){
    body{
        background: url(images/image-hero-desktop.jpg) top center / contain no-repeat rgba(230, 230, 230, 0.288);
    }
    .container{
        margin:50px auto 20vw;
        padding:0;
        width:60vw;
        min-width: 550px;
        max-width: 700px;
    }
    header{
        display: flex;
        justify-content: space-between;
        padding:40px 10vw 0;    
        margin-bottom: 15vw;    
    }
    .menu{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .toggle{
        display: none;
    }
    .nav-menu{
        position: relative;
        width: auto;
        transform: translateY(0);
        transition: 0;
        z-index: 100;
        border-radius: 0;
    
    }
    .nav-menu ul{
        display: flex;
        flex-direction: row;
        background-color: transparent;
        border-radius: 15px;
    
    }
    .nav-menu ul li{
        font-size:1.3rem ;
        font-size: 1rem;
        font-weight: 500;
        padding: 0 ;
        margin-right:40px;
        border-bottom: none;
    }
    .nav-menu ul li a{
        color: white;
        font-weight: 400;
    }
    section{
        padding:50px 50px;
    }
    .sec1 h1 br{
        display: none;
    }
    .sec1 nav{
        padding: 10px 0;
    }
    .btn-bookmark{
        display:flex;
        align-self: center;

    }
    .bookmark-text{
        display:inline-block;
        font-weight: 700;
        color: hsl(0, 0%, 30%);
        align-self: center;
        padding:0 30px;
    }
    .bookmark-bg{
        background-color: hsl(0, 0%, 95%);
        border-radius: 30px;
    }
    .sec2 ul{
        display: flex;
        flex-direction: row;
        text-align: left;
        justify-content: space-arround;
        margin-bottom: 30px;
    }
    .sec2 li{
        position: relative;
        padding:0 10% 0 30px;
        
    }
    .sec2 li:first-child::after , .sec2 li:nth-child(2)::after{
        content:"";
        display:inline-block;
        position: absolute;
        width:1px;
        height:80%;
        background-color:rgb(196, 196, 196,.7);
        left:100%;
        top:10px;
        transform: translateX(0);

    }
    .sec2 li:first-child{
        padding-left:0;
    }
    .sec2 li:last-child{
        padding-bottom: 0;
        padding-top:0;
        padding-right:0;
    }
    .sec2 strong{
        font-size:2rem;
        color: black;
        line-height: 3.5rem;
    }
    .progress{
        width:100%;
    }
    .flexondek{
        display:flex;
        justify-content: space-between;
    }
    .left , .btn-reward{
        margin:0;
    }
    .pledge{
        display:inline-block;
        line-height: 2rem;
    }
    .sec-popup{
        margin:50px auto 0;
        width:60vw;
        min-width: 550px;
        max-width: 700px;
    }
    .card-pop-dek{
        display: grid;
        grid-template-columns: 50px auto auto 1fr ;
        grid-template-rows: 1fr 1fr;
    }
    .grid-checkbox{
        grid-template-columns: 50px 1fr 1fr;
        grid-column: span 3;
        grid-row: 1;
        align-self: center;
    }
    .grid-checkbox .check{
        grid-column: 1;
        grid-row: 1;
        align-self: center;

    }
    .grid-checkbox h3{
        grid-column: 2 ;
        grid-row: 1;
        align-self: center;
        margin-right: 20px;

    }
    .grid-checkbox .pledge{
        grid-column: 3;
        grid-row: 1;
        align-self: center;

    }
    .card-pop-dek .left{
        grid-column: 4;
        grid-row: 1;
        align-self: center;
        justify-self: right;
    }
    .card-pop-dek .zone-click {
        grid-column: 2 / span 4 ;
        grid-row: 2;
    }
    .card-pop-dek .zone-click p {
        margin:0 0 25px 0;
    }
    .left strong{
        font-size: 1.2rem;
    }
    .selected-dek{
        display: flex;
        justify-content: space-between;
        padding: 20px 0 0 20px;
    }
    .selected-dek p {
        margin : 0;
        align-self: center;
    }
    .flex-submit{
        align-items: center;
        justify-content: space-between;

    }
    .input-pledge{
        margin-right: 20px;
    }



    .card-success{
        width : 50vw;
        min-width: 400px;
        max-width: 600px;
    }
}